
:root {
  --brand-beige: #FBEAD6;
}

body {
 background-color: var(--brand-beige);
 font-family: "Roboto Condensed", sans-serif;
}

footer {
  background-color: #7AA4AD;
}
#end {
  color: #FBEAD6;
  font-size: 180px;
  text-align: center;
  text-transform: uppercase;
}
#info {
  display: flex;
}
#info1 {
  padding: 30px;
  font-size: 12px;
  text-transform: uppercase;
}
#info2 {
  padding: 30px;
  font-size: 12px;
  text-transform: uppercase;
}